body {
  background-image: url('https://w.forfun.com/fetch/47/47f16a9521607f90161fa047d669c230.jpeg');
  background-size: contain;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav {
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 95%;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

.container_searchbar {
  background-color: white;
  width: 200px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

#inputSearch {
  background-color: white;
  border: none;
  border-radius: 8px 0 0 8px;
  padding-left: 5px;
}
#inputSearch:focus,
#inputSearch:focus-visible {
  outline: none;
}

#searchButton {
  background-color: white;
  color: black;
  border: none;
  background-color: none;
  border-radius: 0 8px 8px 0;
  font-size: 12px;
  border-left: solid 1px black;
  padding: 0 10px;
}
#searchButton:focus,
#searchButton:focus-visible {
  outline: none;
}
